.price-filter__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
    color: #515151;
}

.price-filter__from {
    border: 1px solid var(--light-gray);
    border-radius: 3px;
    display: block;
    font-size: 1.2rem;
    padding: .6rem 1rem;
    width: 80%;
}

.price-filter__to {
    border: 1px solid var(--light-gray);
    border-radius: 3px;
    display: block;
    font-size: 1.2rem;
    padding: .6rem 1rem;
    width: 80%;
}

.price-filter__container label {
    width: 5rem;
}

.filter-price__btn {
    background-color: var(--primary);
    border-radius: .5rem;
    color: #fff;
    display: block;
    margin: 2.5rem 0 2rem auto;
    padding: .8rem 3rem;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}