.card-purchase {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
}

.card-purchase__section {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    
}

.card-purchase__date {
    margin-bottom: 1rem;
    padding-left: 1rem;
    font-weight: 400;
}