.card-purchase {
    border: 1px solid #ccc;
    border-radius: .5rem;
    margin-bottom: 1rem;
    padding: 1rem 0;
}

.card-purchase__section {

}

.card-purchase__title {
    text-align: center;
}

.card-purchase__quantity,
.card-purchase__price {
    
}

.card-purchase__span {
    display: inline-block;
    width: 7rem;
    text-align: center;
}