.cart {
    max-width: 60rem;
    margin: 0 auto;
}

.cart__container {
    border: 1px solid var(--gray);
    padding: 3rem;
    border-radius: 1rem;
}

.cart__total {
    font-size: 2.2rem;
}

.cart__btn {
    background-color: var(--primary);
    border-radius: .5rem;
    color: #fff;
    display: block;
    margin-top: -.5rem;
    padding: .8rem 3rem;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}